.pd-image{
    width: 100%;
    height: 400px;
    max-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pd-details{
    h3{
        margin-bottom: 0;
    }
    p{
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 10px;
        color: rgb(42, 45, 48);
        span{
            color: #000;
        }

        ._size{
            width: 60px;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
            color: rgb(42, 45, 48);
            text-transform: uppercase;
            span{
                color: #000;
            }
        }
        .color-sel{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            &.selected,
            &:hover{
                border: 1px solid #fff;
                outline: 3px solid #ccc;
                box-shadow: 0 0 6px rgba(0,0,0,0.2);
            }
        }
    }
    h6{
        margin: 12px 0;
        font-size: 1.2rem;
        span{
            font-size: 1.3rem;
            font-weight: 600;
            color: rgb(0, 132, 255);
        }
    }

}

.btn-grp{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.qantity{
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: fit-content;
    border: 1px solid rgb(5, 194, 241);

    button{
        outline: none;
        border: none;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 18px;
        height: 30px;
        background-color: rgb(5, 194, 241);
    }
    .display{
        width: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        height: 30px;
        padding: 0;
        color: #000;
    }
}
table, tr, td{
    border: 1px solid #eee;
    border-collapse: collapse;
} 

._table{
    width: 600px;
    tr{
        th,td{
            padding: 6px 10px;
            .color-sel{
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                &.selected,
                &:hover{
                    border: 1px solid #fff;
                    outline: 3px solid #eee;
                    box-shadow: 0 0 6px rgba(0,0,0,0.2);
                }
            }
        }
    }
}

